# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor[data-grammar="text html php"]': [ # or atom-text-editor[data-grammar*="php"]
    {
      'label': 'Run php-cs-fixer'
      'command': 'php-cs-fixer:fix'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'php-cs-fixer'
      'submenu': [
        {
          'label': 'Fix'
          'command': 'php-cs-fixer:fix'
        }
      ]
    ]
  }
]
